.title {
    background-color: lightgrey;
    max-width: 300px;
    font-family: 'Space Mono', monospace;
    margin: auto;
}

table {
    background-color: rgb(161, 177, 182);
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border: 1px;
    border-radius: 10px;
    width: 32%;
    height: 40%;
    margin: auto;
    padding: 20px;
}

.allBtn {
    font-family: 'Space Mono', monospace;
    border-collapse: separate;
    border: 2px solid teal;
    border-radius: 5px;
}

.calcbtnAC {
    background-color: rgb(197, 97, 60);
    font-size: 30px;
    border: 2px solid rgb(117, 57, 35);
    border-radius: 20px;
}

.calcbtn {
    background-color: cornflowerblue;
    font-size: 20px;
    border: 2px solid rgb(55, 82, 131);
    border-radius: 20px;
}
